* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
  width: 100vw;
  padding: 30px;
  background-color: #cfd8e7;
  text-align: center;
  color: #1f2737;
}

header h1 {
  font-size: 4em;
  letter-spacing: 5px;
  transition: 0.5s;
}

header h2 {
  letter-spacing: 3px;
}

/* .hero {
  height: 50%;
  background-image: url('images/drone.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */
/* Testet noe */
.hero {
  width: 100%;
  height: 80vh;
  background-image: url("images/drone.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* transition: 0.3s; */
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

/* .container {
  width: 100vw;
  height: 400px;
  background-color: #b8d5b8;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
} */
/* Whatcha think?? */
.container {
  padding: 15px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.box {
  float: left;
  width: 33.33%;
  padding: 30px;
}

.box h1 {
  margin: 15px;
  text-align: center;
  letter-spacing: 5px;
}

footer {
  background-color: #1f2737;
  padding: 20px;
  text-align: center;
  color: #cfd8e7;
}

hr {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (max-width: 1000px) {
  .hero {
    height: 30vh;
    /* transition: 0.3s; */
    background-position: 50% -200px;
    background-image: url(images/droneMindre.jpg);
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .box {
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 3em;
    transition: 0.5s;
  }
}
