* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
  width: 100%;
  padding: 30px;
  background-color: #cfd8e7;
  text-align: center;
  color: #1f2737;
}

header h1 {
  font-size: 4em;
  letter-spacing: 5px;
  transition: 0.5s;
}

header h2 {
  letter-spacing: 3px;
}

.hero {
  width: 100%;
  height: 80vh;
  background-image: url("images/drone.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: sticky;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 15px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.box {
  float: left;
  width: 33.33%;
  padding: 30px;
}

.box h1 {
  margin: 15px;
  text-align: center;
  letter-spacing: 5px;
}

footer {
  background-color: #1f2737;
  padding: 20px;
  text-align: center;
  color: #cfd8e7;
}

hr {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (max-width: 1200px) {
  .hero {
    height: 30vh;
  }

  .box h1 {
    margin: 15px;
    margin-left: 0;
    text-align: left;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 600px) {
  .box {
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 3em;
    transition: 0.5s;
  }
}

/* Fiks side scroll*/
